:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

h2 {
  margin: 0;
  line-height: 1;
  font-size: 40px;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  border: 2px solid transparent;
  border-radius: 16px;
  overflow: hidden;
}

input[type=checkbox]:checked + label {
  border: 2px solid #000;
}

.container {
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-block {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 30px;
  color: #000;
}

.title-block h2 {
  margin: 0 0 10px;
}

.section-slider {
  padding: 20px 0;
}

.slider-wrapper {
  margin: 0 auto 24px;
  max-width: 1020px;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  margin: 0 0 20px;
}

.slide {
  width: 340px;
  height: 450px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkbox-slide-label {
  display: block;
  height: 100%;
  cursor: pointer;
}

.btn-holder {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-slider {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #fff;
  outline: none;
  border: none;
  padding: 5px;
  padding: 5px;
  min-height: 30px;
  min-width: 58px;
  background-color: #000;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .3s;
}

.btn-slider:hover {
  background-color: #2b2b2b;
}

.slider-detail-block {
  max-width: 500px;
  margin: 0 auto;
  color: #000;
}

.table__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #eee;
}

.table__row-image {
  width: 50px;
  height: 50px;
}

.table__row-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.empty-table {
  text-align: center;
}

.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}